<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- Headless companion service -->
        <service
            android:name=".service.YtDlRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.mpv.rex.addon.ytdl.BIND_SERVICE" />
            </intent-filter>
        </service>

    </application>
</manifest>